<div id="crossbar">
  <ul class="nav-list">
    <li>
      <a class="nav-item" href="#">Link</a>
    </li>
    <li>
      <a class="nav-item" href="#">Link</a>
    </li>
    <li>
      <a class="nav-item" href="#">Link</a>
    </li>
  </ul>
</div>