<div id="menu">
  <ul class="nav-list">
    <li>
      <a class="nav-item" href="/">Home</a>
    </li>
    <li>
      <a class="nav-item" href="/journal/new">New Entry</a>
    </li>
    <li>
      <a class="nav-item" href="#">Link</a>
    </li>
  </ul>
</div>