/* line 1, ../sass/forms/_forms.sass */
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type="url"],
input[type=week],
textarea {
  background: #eee;
  display: block;
}

/* line 8, ../sass/main.sass */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../sass/main.sass */
body, html {
  margin: 0;
  padding: 0;
}

/* line 15, ../sass/main.sass */
body {
  background: #eee;
  color: #333;
}

/* line 19, ../sass/main.sass */
label {
  display: block;
}
